<div class="row">
    <div class="col">
        <input #termino type="text" (keyup)="searchArtist(termino.value)" class="form-control" placeholder="Search Artist...">
    </div>
</div>

<!----------ANIMACION DEL LOADING------------->
<app-loading *ngIf="loading"></app-loading>
<!-------------------------------------------->

<div *ngIf="!loading" class="row row-cols-1 row-cols-md-4 g-4 m-5">
    <div class="col"  *ngFor="let artist of artists">
      <div class="card h-100">
        <img [src]="artist.images | noimage" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{artist.name}}</h5>
        </div>
      </div>
    </div>
    
</div>
